.command {
  background-color: $backgroundColorSecondary;
}
.command-list {
  display: flex;
}
.command-item {
  background: $backgroundColorPrimary;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.command-item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.command-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.command-item-img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.command-item-box {
  padding-top: 30px;
  padding-bottom: 30px;
}
.command-item-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.command-item-text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.command-contacts-list {
  display: flex;
  justify-content: center;
}
.command-contacts-item:not(:first-child) {
  margin-left: 10px;
}

.command-thumb-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $backgroundColorPrimary;
  color: var(--link-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: $backgroundColorPrimary;
    background-color: $aktiveColor;
  }
}
.command-item-icon {
  fill: currentColor;
}
