.dignity {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.dignity-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}
.dignity-list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}
.thumb {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dgc-filter);
  border-radius: 4px;
  margin-bottom: 30px;
  /* background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
}
.dignity-item {
  width: 270px;
}
.dignity-item + .dignity-item {
  margin-left: 30px;
}
.dignity-item-icon {
  display: block;
  justify-content: center;
  align-items: center;
}
.dignity-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
